.root {
  transition:
    border-color 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;
  &:hover {
    border-color: var(--bs-primary) !important;
    box-shadow: 0px 0px 1px 1px var(--bs-primary);
  }
}
