@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '../../../_core/uikit/components/UiKitProvider/scss/variables';
@import '../../../_core/uikit/components/UiKitProvider/scss/variables-dark';

.slide-bg {
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.coming-content {
  position: absolute;
  top: 0;
  z-index: 1;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;

  .app-search {
    max-width: 340px;
  }
}

.preview-thumbsnav {
  position: absolute;
  bottom: 14px;
  z-index: 9;
  left: 50%;
  transform: translateX(-50%);
  max-width: 120px;
  .nav-img {
    cursor: pointer;
    padding: 3px;
    background-color: rgba($white, 0.1);
    border: 1px solid rgba($white, 0.1);

    @media (max-width: 575.98px) {
      display: none;
    }
  }

  .swiper-slide-thumb-active {
    .nav-img {
      background-color: $white;
      border: 1px solid $white;
    }
  }
}
